<div class="container-fluid" ng-controller="homeCtrl">
  <div class="row">
    <div class="col-sm-2">
      <div class="panel">
        <div class="panel-body">
          <h3>Group Name</h3>
          <h4>{{currentCourse.subject}} {{currentCourse.catalog_number}}</h4>

          <ul ng-repeat="group in groups">
            <li><a href="#">{{ group.name }}</a></li>
          </ul>
          <a href="#" role="button" class="btn btn-default">Add a group</a>
        </div>
      </div>
    </div>
    <div class="col-sm-8">
      <div class="panel">
        <div class="panel-body">
          <h3>Group Dashboard</h3>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris
            condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod.
            Donec sed odio dui.</p>
          <a href="#" role="button" class="btn btn-default">View details</a>
        </div>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="panel">
        <div class="panel-body">
          <h3>Class Information</h3>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris
            condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod.
            Donec sed odio dui.</p>
          <a href="#" role="button" class="btn btn-default">Add more information</a>
        </div>
      </div>
    </div>
  </div>
</div>
