<div class="container-fluid" ng-controller="homeCtrl">
  <div class="row">
    <div class="col-sm-3">
      <div class="panel">
        <div class="panel-body">
          <div class = "col-sm-offset-2">
            <h3>Current Course:</h3>
          </div>
          <div class = "col-sm-offset-4">
            <h4>{{courseInfo.subject}} {{courseInfo.catalog_number}}</h4>

            <ul ng-repeat="group in groups">
              <li><a href="#">{{ group.name }}</a></li>
            </ul>
          </div>
          </br>
          <div class="col-sm-6">
            <div class="form-group">
              <input ng-model="courseInfo.subject" name="addCourseSubject" id="addCourseSubject" placeholder="Subject" class="form-control" autofocus>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <input ng-model="courseInfo.catalog_number" name="addCourseNumber" id="addCourseNumber" placeholder="Number" class="form-control" autofocus>
            </div>
          </div>
          <div class = "col-sm-offset-4">
            <a href="#" role="button" class="btn btn-info" ng-click="addCourse(courseInfo.subject, courseInfo.catalog_number)">Add a course</a></br></br>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <input name="joinCourseSubject" id="joinCourseSubject" placeholder="Subject" class="form-control" autofocus>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <input name="joinCourseNumber" id="joinCourseNumber" placeholder="Number" class="form-control" autofocus>
            </div>
          </div>
          <div class = "col-sm-offset-4">
            <a href="#" role="button" class="btn btn-info">Join a course</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="panel">
        <div class="panel-body">
          <div class="alert alert-warning" role="alert" ng-show="!isAuthenticated">Not logged in!</div>

          <h3>Group Dashboard</h3>
          <p>What is the assignment due date?</p>
          <div class="panel-body">
            <a href="#" role="button" class="btn btn-warning">View details</a>
          </div>


          <div ng-repeat="message in messages track by $index" ng-hide="!isAuthenticated">
            <div class="">
              {{message.user}}&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp {{ message.time | date: 'short'}} :
            </div>
            <div class="">
              {{message.mes}}
            </div>
          </div>
        </div>
        <div class="panel-body" ng-hide="!isAuthenticated">
          <h3>Message</h3>
          <textarea name="name" rows="8" cols="60" ng-model="mesToSend.mes"></textarea>
        </div>
        <div class="panel-body">
          <button type="button" ng-click="sendMessage()" class="btn btn-success">Send</button>
          <div ng-style="disableTagButton">
            Input Area Cannot Be Empty
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="panel">
        <div class="panel-body" ng-hide="isEmptyCourse">
          <h3>Class Info</h3>
          <h4>{{ courseInfo.title }}</h4>
          <p>
            credit: {{ courseInfo.units}}
          </p>
          <h4>Final Schedules</h4>
          <div ng-repeat="section in examschedules">
            <h5>For section {{section.section}}:</h5>
            <p>
              time: {{section.date}}
            </p>
            <p>
              location: {{section.location}}
            </p>
          </div>
          <a href="#" role="button" class="btn btn-default">Add more information</a>
        </div>
      </div>
    </div>
  </div>
</div>
