<div class="container-fluid" ng-controller="homeCtrl">
  <div class="row">
    <div class="col-sm-3">
      <div class="panel">
        <div class="panel-body">
          <h3>Current Course:</h3>
          <h4>{{courseInfo.subject}} {{courseInfo.catalog_number}}</h4>

          <ul ng-repeat="group in groups">
            <li><a href="#">{{ group.name }}</a></li>
          </ul>
          <div class="form-group">
            <input name="addCourse" id="addCourse" placeholder="Course subject and number" class="form-control" autofocus>
          </div>
          <a href="#" role="button" class="btn btn-default">Add a course</a></br></br>
          <div class="form-group">
            <input name="joinCourse" id="joinCourse" placeholder="Course subject and number" class="form-control" autofocus>
          </div>
          <a href="#" role="button" class="btn btn-default">Join a course</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="panel">
        <div class="panel-body">
          <h3>Group Dashboard</h3>
          <p>What is the assignment due date?</p>
          <a href="#" role="button" class="btn btn-default">View details</a>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="panel">
        <div class="panel-body" ng-hide="isEmptyCourse">
          <h3>Class Info</h3>
          <h4>{{ courseInfo.title }}</h4>
          <p>
            credit: {{ courseInfo.units}}
          </p>
          <h4>Final Schedules</h4>
          <div ng-repeat="section in examschedules">
            <h5>For section {{section.section}}:</h5>
            <p>
              time: {{section.date}}
            </p>
            <p>
              location: {{section.location}}
            </p>
          </div>
          <a href="#" role="button" class="btn btn-default">Add more information</a>
        </div>
      </div>
    </div>
  </div>
</div>
